.Header {
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-left: 10px;

  li {
    padding: 0px 5px;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: brown;
      }
    }
  }
}