
.min-height-col {
  min-height: 350px;
}

.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}
.max-width {
  width: 100%
}
.align-self-end {
  align-self: end; 
}
.align-self-start {
  align-self: start; 
}


.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8 {
  flex: 0 0 80%;
  max-width: 80%;
}
.col-4 {
  flex: 0 0 40%;
  max-width: 40%;
}

.mb-10 {
  margin-bottom: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.px-15 {
  padding: 0px 15px;
}



.row {
  display: flex;
  flex-wrap: wrap;
}
.link:hover{
  color:black
}
.link {
  text-decoration: none;
  color: #00303e;
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #2e89a6;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.l {
  
  padding-left: 15px;padding-right: 15px;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}
